<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">
          Buauty Lab
        </h5>
        <p>
          Your Ultimate Destination for Authentic Beauty." Discover a curated
          collection of world-class skincare, makeup, and hair care brands right
          here in Sri Lanka. From daily essentials to luxury treats, we bring
          the lab of beauty straight to your doorstep. Glow with confidence!
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Links</h5>
        <p>
          <a routerLink="" class="text-white text-decoration-none hover-link"
            >Home</a
          >
        </p>
        <p>
          <a
            routerLink="/about"
            class="text-white text-decoration-none hover-link"
            >About Us</a
          >
        </p>
        <p>
          <a
            routerLink="/products"
            class="text-white text-decoration-none hover-link"
            >Products</a
          >
        </p>
        <p>
          <a
            routerLink="/contact"
            class="text-white text-decoration-none hover-link"
            >Contact</a
          >
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
        <p><i class="bi bi-house-door-fill me-2"></i> Colombo 07, Sri Lanka</p>
        <p>
          <i class="bi bi-envelope-fill me-2"></i>
          <a href="mailto:thusharabawantha2001@gmail.com">
            thusharabawantha2001&#64;gmail.com
          </a>
        </p>
        <p><i class="bi bi-telephone-fill me-2"></i> +94 774 027 301</p>
      </div>
    </div>

    <hr class="mb-4" />

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-start">
          © 2024 All Rights Reserved by:
          <a href="#" class="text-decoration-none">
            <strong class="text-primary">BuautyLab.lk</strong>
          </a>
        </p>
      </div>

      <div class="col-md-5 col-lg-4 text-center text-md-end">
        <a href="#" class="text-white me-4 fs-4"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="#" class="text-white me-4 fs-4"
          ><i class="bi bi-twitter"></i
        ></a>
        <a href="#" class="text-white me-4 fs-4"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
