/* Nav links hover effect */
.nav-link {
    transition: color 0.3s ease;
    font-weight: 500;
}

.nav-link:hover {
    color: #f600e6 !important; 
}

.btn-primary {
    transition: transform 0.2s;
}

.btn-primary:hover {
    transform: scale(1.05);
}